HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/docs/audit/02-critical-security-risks.md
/docs/audit/04-seniority-and-code-quality.md
/src/main/resources/application-dev.yml
/CHANGELOG-PHASE-3.md
CHANGELOG-PHASE-4.md
CHANGELOG-PHASE-5.md
/CHANGELOG-PHASE-6.md
docs/tracking